@import url('https://fonts.googleapis.com/css2?family=Jost');

* {
  font-family: "Jost";
  font-weight: 600;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  margin: 0;
}

h4 {
  font-size: 24px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

.page {
  flex-direction: column;
}


